<!-- MY RESOURCES ================================================================================================== -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Friends Resources</h2>
            <div class="table-responsive">
                <table id="mytable" class="table table-bordered" style="width:100%">
                    <thead>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Topic</th>
                        <th>Link</th>
                        <th>Description</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Orit</td>
                            <td>Freud</td>
                            <td>Babies...</td>
                            <td>https://....</td>
                            <td>Blah, blah, blah...</td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-md-12">
                        <h2>Public Resources</h2>
                        <div class="table-responsive">
                            <table id="example" class="table table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Topic</th>
                                        <th>Link</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER  ================================================================================================== -->
    <div class="search-text">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="form">
                    <form id="search-form" class="form-search form-horizontal">
                        <input type="text" class="input-search" placeholder="Search">
                        <button type="submit" class="btn-search">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid">
            <div class="row text-center">
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/">
                            <i class="fa fa-facebook fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.dropbox.com">
                            <i class="fa fa-dropbox fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.flickr.com/">
                            <i class="fa fa-flickr fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/">
                            <i class="fa fa-github fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com">
                            <i class="fa fa-linkedin fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.tumblr.com/">
                            <i class="fa fa-tumblr fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row text-center">
                <ul class="menu list-inline">
                    <li>
                        <a href="my_view.html">My View</a>
                    </li>
                    <li>
                        <a href="friends_view.html">Friends View</a>
                    </li>
                    <li>
                        <a href="add_resource.html">Resources View</a>
                    </li>
                    <li>
                        <a href="public_view.html">Public View</a>
                    </li>
                    <li>
                        <a href="shared.html">Shared</a>
                    </li>
                </ul>
                <p>FRS | Friends Resource Sharing © 2018</p>
            </div>
        </div>
    </footer>
    <!-- Scripts ================================================================================================== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/friends.js"></script>