

    <!-- ================================================================================================== -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Public</h2>
                <form class="shared">
                    <div class="form-group">
                        <label for="description">View</label>
                        <div class="table-responsive">
                            <table id="example" class="table table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Topic</th>
                                        <th>Link</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <a class="btn btn-default" id="save" href="#" role="button" style="margin-right: 10px">SAVE</a>
                        <a class="btn btn-default" id="cancel" href="#" role="button" style="margin-right: 20px">CANCEL</a>
                        <div class="privacy" style="float: right">
                            <label>
                                <input type="checkbox" id="public"> Public
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- FOOTER  ================================================================================================== -->
        <div class="search-text">
            <div class="container-fluid">
                <div class="row text-center">
                    <div class="form">
                        <form id="search-form" class="form-search form-horizontal">
                            <input type="text" class="input-search" placeholder="Search">
                            <button type="submit" class="btn-search">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container-fluid">
                <div class="row text-center">
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/">
                                <i class="fa fa-facebook fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.dropbox.com">
                                <i class="fa fa-dropbox fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.flickr.com/">
                                <i class="fa fa-flickr fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/">
                                <i class="fa fa-github fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com">
                                <i class="fa fa-linkedin fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.tumblr.com/">
                                <i class="fa fa-tumblr fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="row text-center">
                    <ul class="menu list-inline">
                        <li>
                            <a href="my_view.html">My View</a>
                        </li>
                        <li>
                            <a href="friends_view.html">Friends View</a>
                        </li>
                        <li>
                            <a href="add_resource.html">Resources View</a>
                        </li>
                        <li>
                            <a href="public_view.html">Public View</a>
                        </li>
                        <li>
                            <a href="shared.html">Shared</a>
                        </li>
                    </ul>
                    <p>FRS | Friends Resource Sharing © 2018</p>
                </div>
            </div>
        </footer>
        <!-- Scripts ================================================================================================== -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="assets/js/public.js"></script>
       