    <!-- Form ================================================================================================== -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Sign Up Form</h2>
                <form class="signup">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="email-input" placeholder="Email">
                        <div class="form-group">
                            <br>
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="password-input" placeholder="Password">
                        </div>
                        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            <span class="msg"></span>
                        </div>
                        <button type="submit" class="btn btn-default">Sign Up</button>
                </form>
                <br />
                <p>Or log in
                    <a href="/login">here</a>
                </p>
                </div>
            </div>
        </div>
        <!-- FOOTER  ================================================================================================== -->
        <div class="search-text">
            <div class="container-fluid">
                <div class="row text-center">
                    <div class="form">
                        <form id="search-form" class="form-search form-horizontal">
                            <input type="text" class="input-search" placeholder="Search">
                            <button type="submit" class="btn-search">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container-fluid">
                <div class="row text-center">
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/">
                                <i class="fa fa-facebook fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.dropbox.com">
                                <i class="fa fa-dropbox fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.flickr.com/">
                                <i class="fa fa-flickr fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/">
                                <i class="fa fa-github fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com">
                                <i class="fa fa-linkedin fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.tumblr.com/">
                                <i class="fa fa-tumblr fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="row text-center">
                    <ul class="menu list-inline">
                        <li>
                            <a href="my_view.html">My View</a>
                        </li>
                        <li>
                            <a href="friends_view.html">Friends View</a>
                        </li>
                        <li>
                            <a href="add_resource.html">Resources View</a>
                        </li>
                        <li>
                            <a href="public_view.html">Public View</a>
                        </li>
                        <li>
                            <a href="shared.html">Shared</a>
                        </li>
                    </ul>
                    <p>FRS | Friends Resource Sharing © 2018</p>
                </div>
            </div>
        </footer>
        <!-- Scripts ================================================================================================== -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         <script type="text/javascript" src="assets/js/resources.js"></script>
     