form.signup,
form.login {
  margin-top: 50px;
}

.navbar-brand {
  vertical-align: center;
  display: inline-block;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
}

.navbar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  vertical-align: top;
  /* color: white; */
}

@media screen and (min-width:768px) {
  .navbar-brand-centered {
    /* position: absolute; */
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
  }
  .navbar>.container .navbar-brand-centered,
  .navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
    /* color: white; */
  }
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

body {
  font-family: 'Roboto', sans-serif;
  background-image: url("/blurred_background.jpg");
  background-repeat: no-repeat;
}
.copyright {
  background: rgba(0,0,0,0.4);
}

.copyright p {
  margin: 5px 0px;
}

footer {
  background-color: #222222;
  padding: 10px 0px;
}

footer .menu li a {
  color: #b1aca1;
  padding: 10px;
  text-decoration: none;
}

footer .menu li a:hover {
  color: #7dabdb;
}

.fa.fa-facebook,
.fa.fa-dropbox,
.fa.fa-flickr,
.fa.fa-github,
.fa.fa-linkedin,
.fa,
fa-tumblr,
.fa.fa-google-plus,
.fa.fa-tumblr {
  color: #b1aca1;
  font-size: 20px;
  padding: 10px;
}

.fa.fa-facebook:hover,
.fa.fa-dropbox:hover,
.fa.fa-flickr:hover,
.fa.fa-github:hover,
.fa.fa-linkedin:hover,
.fa,
fa-tumblr:hover,
.fa.fa-google-plus:hover,
.fa.fa-tumblr:hover {
  color: #6794c2;
}

.footer {
  width: 100%;
  background-color: rgba(0,0,0,0.4);
}
#copyright_text {
  background-color: rgba(0,0,0,0.4);
  color: #b1aca1;
  font-size: 12px;
  margin: 0;
}
.checkbox{
  align-content: center;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: white;
}
body {
  color: white;
}

body {
    background-image: url("assets/img/blurred_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    border-top: 2px;
    border-top-color: white;
    border-top-style: solid;
    min-height: 100px;
}

.navbar {
    border-bottom: 2px;
    border-bottom-color: white;
    border-bottom-style: solid;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar ul {
    color: black !important;
    padding-right: 10px;
}

#login_bk {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin: 0 auto;
}