/* Global Styling ================================================================================= */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
html { overflow: auto }

body {
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: white;
}
body {
  color: white;
}

body {
    background-image: url("background_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 600px;
}

/* Navbar ================================================================================= */
@media screen and (min-width:768px) {
  .navbar-brand-centered {
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
  }

.navbar-brand {
  vertical-align: center;
  display: inline-block;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
}

.navbar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  vertical-align: top;
}
  .navbar>.container .navbar-brand-centered,
  .navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
  }
}

.navbar {
  border-bottom: 5px;
  border-bottom-color:#993399;
  border-bottom-style: solid;
  background-color: rgba(0, 0, 0, 0.4);
  border-left: rgba(0, 0, 0, 0.4);
  border-right: rgba(0, 0, 0, 0.4);
  border-top: rgba(0, 0, 0, 0.4);
}

.navbar ul {
  color: black !important;
  padding-right: 10px;
}
.glyphicon-menu-hamburger {
  font-size: 20px;
}
/* Body / Forms ================================================================================= */
form.signup,
form.login {
  margin-top: 50px;
}

/* Form Inputs ============================== */
#mytable, #example {
background-color: white;
color: #555;
border-color: #ccc;
}

.label {
color: white;
}

#sharedTable-body {
background-color: white;
}
#sharedTable {
background-color: white;
}
#myres_bk {
background-color: rgba(0, 0, 0, 0.4);
padding: 20px;
margin: 0 auto;
}
#public { 
color: white;
}
.dropdown-menu {
color: white;
bacground-color: rgba(0, 0, 0, 0.4);
}

/* Body / Form Backgrounds ================================================================================= */
.resourceForm{
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin: 0 auto;
  }
  #mytable{
  background-color: white;
  color:#555;
  border-color: black;
  padding: 20px;
  margin: 0 auto;
  }
  .shared{
  color: #555;
  border-color: black;
  padding: 20px;
  margin: 0 auto;
  }
  #login_bk {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin: 0 auto;
  }
  #signup_bk {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin: 0 auto;
  }
  #public_bk {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin: 0 auto;
  }
  #addr_bk, #myres_bk {
    background-color: rgba(0, 0, 0, 0.4);
    color: #555;
    border-color: #ccc;
    padding: 20px;
    margin: 0 auto;
    }

/* Social ================================================================================= */
.fa.fa-facebook,
.fa.fa-dropbox,
.fa.fa-flickr,
.fa.fa-github,
.fa.fa-linkedin,
.fa,
fa-tumblr,
.fa.fa-google-plus,
.fa.fa-tumblr {
  color: white;
  font-size: 20px;
  padding: 10px;
}

.fa.fa-facebook:hover,
.fa.fa-dropbox:hover,
.fa.fa-flickr:hover,
.fa.fa-github:hover,
.fa.fa-linkedin:hover,
.fa,
fa-tumblr:hover,
.fa.fa-google-plus:hover,
.fa.fa-tumblr:hover {
  color: #993399;
}
/* Footer ================================================================================= */
.footer {
  background-color:rgba(0, 0, 0, 0.4);
  /* position: absolute;  */
  bottom: 0px; 
  left: 0;
  width: 100%;
  height:auto;
  margin:0 auto;
  overflow:hidden;
  position: fixed;
}

footer {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 0px;
}

.footer {
  margin-top: 5em;
  border-top: 5px;
  border-top-color: #993399;
  border-top-style: solid;
}

footer .menu li a {
  color: white;
  padding: 10px;
  text-decoration: none;
}

footer .menu li a:hover {
  color: #993399;
}
/* Footer Copyright ================================================================================= */
#copyright_text {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 12px;
  margin: 0;
}
.checkbox{
  align-content: center;
}
.copyright {
  background: rgba(0, 0, 0, 0.4);
}

.copyright p {
  margin: 5px 0px;
}

#about{
  font-size: 20px;
}

h3{
  text-align: center;
  font-size: 18px;
}